<ion-header>
  <ion-toolbar>
    <ion-title text-center>viewRooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-6 col-lg-6 col-sm-6>
        <ion-card>

          <img src="../../assets/wide.jpg">

          <ion-fab-button right size="small" color="secondary">
            <ion-icon name="Create" large></ion-icon>
          </ion-fab-button>


          <ion-item>
            <ion-icon name="bed" item-start large></ion-icon>
            <h2>Name Of Hotel:</h2>
            <p></p>
          </ion-item>

          <ion-item>
            <ion-icon name="locate" item-start large></ion-icon>
            <h2>Location:</h2>
          </ion-item>

          <ion-item>
            <h2>Room Class:</h2>
          </ion-item>

          <ion-item>
            <h2>Room Type:</h2>
          </ion-item>

          <ion-item>
            <ion-card></ion-card>
            <ion-fab-button size="small" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col col-6 col-md-6 col-lg-6 col-sm-6>
        <ion-card>

          <img src="../../assets/wide.jpg">

          <ion-fab vertical="top" horizontal="end">
          <ion-fab-button right size="small" color="secondary">
            <ion-icon name="Create" large></ion-icon>
          </ion-fab-button>
          </ion-fab>


          <ion-item>
            <ion-icon name="bed" item-start large></ion-icon>
            <h2>Name Of Hotel:</h2>
            <p></p>
          </ion-item>

          <ion-item>
            <ion-icon name="locate" item-start large></ion-icon>
            <h2>Location:</h2>
          </ion-item>

          <ion-item>
            <h2>Room Class:</h2>
          </ion-item>

          <ion-item>
            <h2>Room Type:</h2>
          </ion-item>

          <ion-item>
            <ion-fab horizontal="end">
              <ion-fab-button size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <ion-fab horizontal="start">
                <ion-fab-button size="small" color="info">
                  <ion-icon name="eye"></ion-icon>
                </ion-fab-button>
              </ion-fab>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>